*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.heading{
  text-shadow: 0px 0px 10px #8c8000,
               0px 0px 20px #ccb419,
               0px 0px 30px #ccb419,
               0px 0px 40px #ccb419,
               0px 0px 0px #ccb419;
}

.nav-items{
       font-size: 16px;
       transition: all 0.3s ease;
       box-sizing: border-box;
       
}
.nav-items:hover {
     color: #7AFBFF;
     font-size: 14px;
     padding:0px 6px;
     border-bottom: 2px solid #7AFBFF;
     border-radius: 10px;
     transition: all 0.3s ease;
     box-sizing: border-box;
   
}

.phonemenu{
  position: relative;

}

.burger{
  height: 60px;
  width:60px;
  border-radius:60px;
  position: absolute;
  top: 18px;
  right: 5px;
  z-index: 2;
  
}
.navphone{
  width:400px;
  height: 200px;
  position: absolute;
  top: 18px;
  right: 78px;
  border-radius: 10px 10px 10px 10px ;
  z-index:1;
  display: flex;
  justify-content:center;
  align-items : center;
}

.mobnav-items{
     font-size: 18px;
     transition: all 0.3s ease;
     box-sizing: border-box;
     border-bottom:  0px solid #7AFBFF;

}

.mobnav-items:hover{
  color: #7AFBFF;
  font-size: 16px;
  border-bottom:  2px solid #7AFBFF scaleX(2px);


}

.sk{
    filter: grayscale(100);
    transform: scaleX(0.8);
    transition: all 0.5s ease ;

}

.sk:hover{
    filter: grayscale(0);
    transform: scaleY(1);
    transition: all 0.5s ease;
    filter: drop-shadow(0px 0px 5px rgba(0, 89, 255, 0.7)) ;
}


.nav-container{  
    position: absolute;
    bottom: 5%;
    right: 15px;

}
 

.side-item{
    background-color: rgb(255, 255, 255,0.3);
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    transform: scale(1);
    transition: all 0.4s ease;
 
}
.side-item:hover{
    box-shadow: 0px 0px 15px rgb(0, 255, 255);
    transform: scale(1.2);
    transition: all 0.4s ease;
}
.nav-para{
    z-index: -1;
    position: absolute;
    transform: translateX(-90px);
}

.skill-item{
    background-color: rgb(255, 255, 255,0.3);
    height: 70px;
    width: 70px;
    border-radius: 70px;
    margin: 10px;
    transform: scale();
    transition: all 0.4s ease;
}
.skill-item:hover{
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    transform: scale();
    transition: all 0.4s ease;

}

.totop{
  background-color: none;
  border: white solid 2px ;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  position: fixed;
  right: 15px;
  display:flex;
  justify-content: center;
  align-items: center;
  bottom: 16px;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.4s ease;
}

.totop.active{
  opacity: 1;
  bottom: 38px;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.btn{
    cursor: pointer;
    transform: scaleX(1);
  }
.btn:hover{
  box-shadow: 0px 0px 10px rgba(0, 184, 230, 0.7);
  transform: scale();

}
  

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
	        animation: tracking-in-expand 2s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}
/*
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
